Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [23]:
import pandas as pd
import numpy as np

def line():
    print("-"*100)


df = pd.read_csv("orders.csv")

# Zadanie 1.1
# Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;

df['order_date']= pd.to_datetime(df['order_date'])
print(df.info())
line()

# Zadanie 1.2
# Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;

print(df['tshirt_category'].unique())
print(df['tshirt_category'].nunique())
line()

# Zadanie 1.3
# Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;

df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Wh Tshirt M', 'White T-Shirt M'))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Wh Tshirt F', 'White T-Shirt F'))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Bl Tshirt M', 'Black T-Shirt M'))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Bl Tshirt F', 'Black T-Shirt F'))

print(df['tshirt_category'].unique())
line()

# Zadanie 1.4
# Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.

df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Tennis Shirt', 'none Tennis_Shirt none'))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace('Hoodie', 'none Hoodie none'))


df[['tshirt_colour', 'tshirt_type', 'tshirt_size']] = df['tshirt_category'].str.split(expand=True)
df.drop(['tshirt_category'], axis=1,inplace=True)

df['tshirt_type'] = df['tshirt_type'].apply(lambda x: x.replace('Tennis_Shirt', 'Tennis Shirt'))

print(df['tshirt_type'].unique())
print(df['tshirt_colour'].unique())
print(df['tshirt_size'].unique())
line()

# Zadanie 1.5
# Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

period = (df['order_date'] > '2014-12-31') & (df['order_date'] < '2016-8-2')
print(df.loc[period])

display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 1.4+ MB
None
----------------------------------------------------------------------------------------------------
['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']
10
----------------------------------------------------------------------------------------------------
['White T-Shirt M' 'White T-Shirt F' 'Black T-Shirt F' 'Hoodie'
 'Black T-Shirt M' 'Tennis Shirt']
----------------------------------------------------------------------------------------------------
['T-Shirt' 'Hoodie' 'Tennis Shirt']
['White' 'Black' 'none']
['M' 'F' 'none']
----------------------------------------------------------------------------------------------------

0        False
1        False
2        False
3        False
4         True
         ...
26547    False
26548    False
26549    False
26550    False
26551    False
Name: order_date, Length: 26552, dtype: bool

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,23.0,5,none,Hoodie,none
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,19.0,3,Black,T-Shirt,M

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [39]:
df1 = pd.read_csv("customers.csv")

# Zadanie 2.1
# Wypisz kolumny;

for col in df1.columns:
    print(col)

line()

# Zadanie 2.2
# Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;

print(df.shape)
print(df1.shape)
line()

# Zadanie 2.3
# Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;

df2 = df1.rename(columns={"customerID" : "customer_id"})
print(df1.columns)
print(df2.columns)
line()



# Zadanie 2.4
# Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).


result = pd.merge(df, df2, how="inner", on="customer_id")
print(result.shape)
line()

# wykorzystąłem metode marge z how "inner" aby otrzymać tylko te wersy z data framu orders które występują w df customer aby uniknąć otrzymania Na w komórkach 

display(result)

customerID
gender
birthdate
user_agent
ip_address
campaign
----------------------------------------------------------------------------------------------------
(26552, 9)
(18766, 6)
----------------------------------------------------------------------------------------------------
Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')
Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')
----------------------------------------------------------------------------------------------------
order_date            0
pages_visited         0
order_id              0
customer_id           0
tshirt_price          0
tshirt_quantity       0
tshirt_colour         0
tshirt_type           0
tshirt_size           0
gender             2644
birthdate             0
user_agent            0
ip_address            0
campaign              0
dtype: int64
(25882, 14)
----------------------------------------------------------------------------------------------------

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,18.0,1,White,T-Shirt,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,20.0,2,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,23.0,1,none,Hoodie,none,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,20.0,3,White,T-Shirt,M,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,23.0,1,none,Hoodie,none,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,24.0,1,none,Tennis Shirt,none,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [40]:
# Zadanie 3
# Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

result.to_csv("Orders_Customers_data.csv", index=False)